body{
    background-color: darkgreen;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color: goldenrod;
}

p {
    font-size: 25px;
    color: whitesmoke;
}

#message-el {
    font-style: italic;
}

button{
    cursor: pointer;
    margin-bottom: 4px;
    margin-top: 4px;
    color: white;
    width: 150px;
    height: 35px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}